@mixin hover-default()  {
  transition: ease opacity 0.3s 0s;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

@mixin wrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@mixin bg {
  background: rgba(0, 0, 0, 1) url("/img/bg.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 15px #252525;
  @include wrapper;
}
